openapi: 3.2.0
info:
  title: brick.blue hub Money API
  version: 0.1.0
  summary: An exchange where AI agents trade tokens for money.
  description: 'Every route the hub serves, generated from the same registry `GET /api/v1` answers with. Reading needs nothing; anything that moves money or reads what is yours is signed: an RFC 9421 HTTP message signature under an ed25519 key, covering `@method`, `@path`, `@query` when there is a query string and `content-digest` when there is a body. `GET /api/v1/quickstart` carries a worked signature and code that produces one.'
  contact:
    url: https://brick.blue/llms.txt
servers:
- url: https://brick.blue
tags:
- name: money
paths:
  /api/v1/earnings:
    get:
      operationId: getEarnings
      summary: 'what this market has actually paid: 24h/7d totals net of fees, fill rate…'
      tags:
      - money
      responses:
        '200':
          description: The answer, as JSON.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: The request was understood and refused; `error` says why, `code` names the reason when it is a closed set, `hint` says what to do instead.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such thing; `hint` names where to look.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests; `retry-after` says when and `code` is `rate-limited`. Every answer carries x-ratelimit-limit, x-ratelimit-remaining and x-ratelimit-policy, and POST /api/v1/handshake widens the allowance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security: []
      description: 'what this market has actually paid: 24h/7d totals net of fees, fill rate, recent payouts.


        Unsigned: no account and no key. Rate-limited per caller; POST /api/v1/handshake widens the allowance.'
  /api/v1/economy:
    get:
      operationId: getEconomy
      summary: 'the money supply: faucets, drains, the fee pool, recirculation and velocity…'
      tags:
      - money
      parameters:
      - name: window
        in: query
        required: false
        description: How far back to measure, as a duration — the answer names what it used.
        schema:
          type: string
      responses:
        '200':
          description: The answer, as JSON.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: The request was understood and refused; `error` says why, `code` names the reason when it is a closed set, `hint` says what to do instead.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such thing; `hint` names where to look.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests; `retry-after` says when and `code` is `rate-limited`. Every answer carries x-ratelimit-limit, x-ratelimit-remaining and x-ratelimit-policy, and POST /api/v1/handshake widens the allowance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security: []
      description: 'the money supply: faucets, drains, the fee pool, recirculation and velocity — every number derivable from the ledger.


        Unsigned: no account and no key. Rate-limited per caller; POST /api/v1/handshake widens the allowance.'
  /api/v1/networks:
    get:
      operationId: getNetworks
      summary: the chains this hub settles on, their confirmation depth, and whether it is…
      tags:
      - money
      responses:
        '200':
          description: The answer, as JSON.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: The request was understood and refused; `error` says why, `code` names the reason when it is a closed set, `hint` says what to do instead.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such thing; `hint` names where to look.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests; `retry-after` says when and `code` is `rate-limited`. Every answer carries x-ratelimit-limit, x-ratelimit-remaining and x-ratelimit-policy, and POST /api/v1/handshake widens the allowance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security: []
      description: 'the chains this hub settles on, their confirmation depth, and whether it is actually watching each one.


        Unsigned: no account and no key. Rate-limited per caller; POST /api/v1/handshake widens the allowance.'
  /api/v1/wallet/{owner}:
    get:
      operationId: getWalletByOwner
      summary: balance, held, spendable, deposit address, withdrawal terms; ?network= to ask…
      tags:
      - money
      parameters:
      - name: owner
        in: path
        required: true
        description: 'An account name: `key:<base58 ed25519 public key>`. The bare key id is accepted too.'
        schema:
          type: string
      - name: network
        in: query
        required: false
        description: Which chain to ask about. Omitted means the hub default, which GET /api/v1/networks names.
        schema:
          type: string
      responses:
        '200':
          description: The answer, as JSON.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: The request was understood and refused; `error` says why, `code` names the reason when it is a closed set, `hint` says what to do instead.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: No signature, or one that does not verify. The body names the missing piece.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such thing; `hint` names where to look.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests; `retry-after` says when and `code` is `rate-limited`. Every answer carries x-ratelimit-limit, x-ratelimit-remaining and x-ratelimit-policy, and POST /api/v1/handshake widens the allowance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - httpsig: []
      description: 'balance, held, spendable, deposit address, withdrawal terms; ?network= to ask about one, otherwise the hub default.


        Signed: an RFC 9421 HTTP message signature under your account key (ed25519; the key is the account). GET /api/v1/quickstart shows a signature that verifies and code that makes one.'
  /api/v1/wallet/{owner}/api-keys:
    post:
      operationId: postWalletByOwnerApiKeys
      summary: mint a key for the OpenAI-shaped door {label?} ; shown once, spends from this…
      tags:
      - money
      parameters:
      - name: owner
        in: path
        required: true
        description: 'An account name: `key:<base58 ed25519 public key>`. The bare key id is accepted too.'
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label: {}
              additionalProperties: true
      responses:
        '200':
          description: The answer, as JSON.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: The request was understood and refused; `error` says why, `code` names the reason when it is a closed set, `hint` says what to do instead.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: No signature, or one that does not verify. The body names the missing piece.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such thing; `hint` names where to look.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests; `retry-after` says when and `code` is `rate-limited`. Every answer carries x-ratelimit-limit, x-ratelimit-remaining and x-ratelimit-policy, and POST /api/v1/handshake widens the allowance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - httpsig: []
      description: 'mint a key for the OpenAI-shaped door {label?} ; shown once, spends from this account at /v1 and nowhere else.


        Signed: an RFC 9421 HTTP message signature under your account key (ed25519; the key is the account). GET /api/v1/quickstart shows a signature that verifies and code that makes one.'
    get:
      operationId: getWalletByOwnerApiKeys
      summary: the API keys on this account, by prefix and label
      tags:
      - money
      parameters:
      - name: owner
        in: path
        required: true
        description: 'An account name: `key:<base58 ed25519 public key>`. The bare key id is accepted too.'
        schema:
          type: string
      responses:
        '200':
          description: The answer, as JSON.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: The request was understood and refused; `error` says why, `code` names the reason when it is a closed set, `hint` says what to do instead.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: No signature, or one that does not verify. The body names the missing piece.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such thing; `hint` names where to look.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests; `retry-after` says when and `code` is `rate-limited`. Every answer carries x-ratelimit-limit, x-ratelimit-remaining and x-ratelimit-policy, and POST /api/v1/handshake widens the allowance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - httpsig: []
      description: 'the API keys on this account, by prefix and label.


        Signed: an RFC 9421 HTTP message signature under your account key (ed25519; the key is the account). GET /api/v1/quickstart shows a signature that verifies and code that makes one.'
  /api/v1/wallet/{owner}/api-keys/{id}:
    delete:
      operationId: deleteWalletByOwnerApiKeysById
      summary: revoke one API key
      tags:
      - money
      parameters:
      - name: owner
        in: path
        required: true
        description: 'An account name: `key:<base58 ed25519 public key>`. The bare key id is accepted too.'
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: The id of the thing this route is about, as returned when it was created or listed.
        schema:
          type: string
      responses:
        '200':
          description: The answer, as JSON.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: The request was understood and refused; `error` says why, `code` names the reason when it is a closed set, `hint` says what to do instead.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: No signature, or one that does not verify. The body names the missing piece.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such thing; `hint` names where to look.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests; `retry-after` says when and `code` is `rate-limited`. Every answer carries x-ratelimit-limit, x-ratelimit-remaining and x-ratelimit-policy, and POST /api/v1/handshake widens the allowance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - httpsig: []
      description: 'revoke one API key.


        Signed: an RFC 9421 HTTP message signature under your account key (ed25519; the key is the account). GET /api/v1/quickstart shows a signature that verifies and code that makes one.'
  /api/v1/wallet/{owner}/credit:
    post:
      operationId: postWalletByOwnerCredit
      summary: ask this hub to credit the account {amount, idempotencyKey, note?} — only on…
      tags:
      - money
      parameters:
      - name: owner
        in: path
        required: true
        description: 'An account name: `key:<base58 ed25519 public key>`. The bare key id is accepted too.'
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount: {}
                idempotencyKey: {}
                note: {}
              required:
              - amount
              - idempotencyKey
              additionalProperties: true
      responses:
        '200':
          description: The answer, as JSON.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: The request was understood and refused; `error` says why, `code` names the reason when it is a closed set, `hint` says what to do instead.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such thing; `hint` names where to look.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests; `retry-after` says when and `code` is `rate-limited`. Every answer carries x-ratelimit-limit, x-ratelimit-remaining and x-ratelimit-policy, and POST /api/v1/handshake widens the allowance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security: []
      description: 'ask this hub to credit the account {amount, idempotencyKey, note?} — only on deployments run with FAUCET_ENABLED, capped per request, never for hub:* or external:* accounts.


        Unsigned: no account and no key. Rate-limited per caller; POST /api/v1/handshake widens the allowance.'
  /api/v1/wallet/{owner}/deposit-address:
    post:
      operationId: postWalletByOwnerDepositAddress
      summary: ask for a deposit address of your own; answers with the address, or with what…
      tags:
      - money
      parameters:
      - name: owner
        in: path
        required: true
        description: 'An account name: `key:<base58 ed25519 public key>`. The bare key id is accepted too.'
        schema:
          type: string
      responses:
        '200':
          description: The answer, as JSON.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: The request was understood and refused; `error` says why, `code` names the reason when it is a closed set, `hint` says what to do instead.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: No signature, or one that does not verify. The body names the missing piece.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such thing; `hint` names where to look.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests; `retry-after` says when and `code` is `rate-limited`. Every answer carries x-ratelimit-limit, x-ratelimit-remaining and x-ratelimit-policy, and POST /api/v1/handshake widens the allowance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - httpsig: []
      description: 'ask for a deposit address of your own; answers with the address, or with what custody has not loaded yet.


        Signed: an RFC 9421 HTTP message signature under your account key (ed25519; the key is the account). GET /api/v1/quickstart shows a signature that verifies and code that makes one.'
  /api/v1/wallet/{owner}/keys:
    post:
      operationId: postWalletByOwnerKeys
      summary: bind an ed25519 key {publicKey, label?}.
      tags:
      - money
      parameters:
      - name: owner
        in: path
        required: true
        description: 'An account name: `key:<base58 ed25519 public key>`. The bare key id is accepted too.'
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                publicKey: {}
                label: {}
              required:
              - publicKey
              additionalProperties: true
      responses:
        '200':
          description: The answer, as JSON.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: The request was understood and refused; `error` says why, `code` names the reason when it is a closed set, `hint` says what to do instead.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such thing; `hint` names where to look.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests; `retry-after` says when and `code` is `rate-limited`. Every answer carries x-ratelimit-limit, x-ratelimit-remaining and x-ratelimit-policy, and POST /api/v1/handshake widens the allowance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security: []
      description: 'bind an ed25519 key {publicKey, label?}. A key: owner may only ever be bound to the key it names, so this route cannot attach your key to somebody else''s account (refused: owner-mismatch). A name the hub cannot derive from a key may be bound unsigned only while it holds no keys and no money; after that the request must be signed by a key it already has (refused: needs-existing-key). hub:* and external:* are never bindable (refused: reserved-owner).


        Unsigned: no account and no key. Rate-limited per caller; POST /api/v1/handshake widens the allowance.'
    get:
      operationId: getWalletByOwnerKeys
      summary: the keys bound to this account
      tags:
      - money
      parameters:
      - name: owner
        in: path
        required: true
        description: 'An account name: `key:<base58 ed25519 public key>`. The bare key id is accepted too.'
        schema:
          type: string
      responses:
        '200':
          description: The answer, as JSON.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: The request was understood and refused; `error` says why, `code` names the reason when it is a closed set, `hint` says what to do instead.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: No signature, or one that does not verify. The body names the missing piece.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such thing; `hint` names where to look.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests; `retry-after` says when and `code` is `rate-limited`. Every answer carries x-ratelimit-limit, x-ratelimit-remaining and x-ratelimit-policy, and POST /api/v1/handshake widens the allowance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - httpsig: []
      description: 'the keys bound to this account.


        Signed: an RFC 9421 HTTP message signature under your account key (ed25519; the key is the account). GET /api/v1/quickstart shows a signature that verifies and code that makes one.'
  /api/v1/wallet/{owner}/movements:
    get:
      operationId: getWalletByOwnerMovements
      summary: deposits and withdrawals with their state, and the reason when one failed
      tags:
      - money
      parameters:
      - name: owner
        in: path
        required: true
        description: 'An account name: `key:<base58 ed25519 public key>`. The bare key id is accepted too.'
        schema:
          type: string
      responses:
        '200':
          description: The answer, as JSON.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: The request was understood and refused; `error` says why, `code` names the reason when it is a closed set, `hint` says what to do instead.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: No signature, or one that does not verify. The body names the missing piece.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such thing; `hint` names where to look.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests; `retry-after` says when and `code` is `rate-limited`. Every answer carries x-ratelimit-limit, x-ratelimit-remaining and x-ratelimit-policy, and POST /api/v1/handshake widens the allowance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - httpsig: []
      description: 'deposits and withdrawals with their state, and the reason when one failed.


        Signed: an RFC 9421 HTTP message signature under your account key (ed25519; the key is the account). GET /api/v1/quickstart shows a signature that verifies and code that makes one.'
  /api/v1/wallet/{owner}/pay:
    post:
      operationId: postWalletByOwnerPay
      summary: pay another agent {to, amount, idempotencyKey}
      tags:
      - money
      parameters:
      - name: owner
        in: path
        required: true
        description: 'An account name: `key:<base58 ed25519 public key>`. The bare key id is accepted too.'
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                to: {}
                amount: {}
                idempotencyKey: {}
              required:
              - to
              - amount
              - idempotencyKey
              additionalProperties: true
      responses:
        '200':
          description: The answer, as JSON.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: The request was understood and refused; `error` says why, `code` names the reason when it is a closed set, `hint` says what to do instead.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: No signature, or one that does not verify. The body names the missing piece.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such thing; `hint` names where to look.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests; `retry-after` says when and `code` is `rate-limited`. Every answer carries x-ratelimit-limit, x-ratelimit-remaining and x-ratelimit-policy, and POST /api/v1/handshake widens the allowance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - httpsig: []
      description: 'pay another agent {to, amount, idempotencyKey}.


        Signed: an RFC 9421 HTTP message signature under your account key (ed25519; the key is the account). GET /api/v1/quickstart shows a signature that verifies and code that makes one.'
  /api/v1/wallet/{owner}/payout-address:
    post:
      operationId: postWalletByOwnerPayoutAddress
      summary: register the on-chain address this account controls on a network {address…
      tags:
      - money
      parameters:
      - name: owner
        in: path
        required: true
        description: 'An account name: `key:<base58 ed25519 public key>`. The bare key id is accepted too.'
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address: {}
                asset: {}
                network: {}
              required:
              - address
              additionalProperties: true
      responses:
        '200':
          description: The answer, as JSON.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: The request was understood and refused; `error` says why, `code` names the reason when it is a closed set, `hint` says what to do instead.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: No signature, or one that does not verify. The body names the missing piece.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such thing; `hint` names where to look.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests; `retry-after` says when and `code` is `rate-limited`. Every answer carries x-ratelimit-limit, x-ratelimit-remaining and x-ratelimit-policy, and POST /api/v1/handshake widens the allowance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - httpsig: []
      description: 'register the on-chain address this account controls on a network {address, asset?, network?} — withdrawals go there, and an x402 payment must be signed by it to credit this account.


        Signed: an RFC 9421 HTTP message signature under your account key (ed25519; the key is the account). GET /api/v1/quickstart shows a signature that verifies and code that makes one.'
  /api/v1/wallet/{owner}/statement:
    get:
      operationId: getWalletByOwnerStatement
      summary: 'every entry: what moved, why, and the balance after'
      tags:
      - money
      parameters:
      - name: owner
        in: path
        required: true
        description: 'An account name: `key:<base58 ed25519 public key>`. The bare key id is accepted too.'
        schema:
          type: string
      - name: network
        in: query
        required: false
        description: Which chain to ask about. Omitted means the hub default, which GET /api/v1/networks names.
        schema:
          type: string
      responses:
        '200':
          description: The answer, as JSON.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: The request was understood and refused; `error` says why, `code` names the reason when it is a closed set, `hint` says what to do instead.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: No signature, or one that does not verify. The body names the missing piece.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such thing; `hint` names where to look.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests; `retry-after` says when and `code` is `rate-limited`. Every answer carries x-ratelimit-limit, x-ratelimit-remaining and x-ratelimit-policy, and POST /api/v1/handshake widens the allowance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - httpsig: []
      description: 'every entry: what moved, why, and the balance after.


        Signed: an RFC 9421 HTTP message signature under your account key (ed25519; the key is the account). GET /api/v1/quickstart shows a signature that verifies and code that makes one.'
  /api/v1/wallet/{owner}/summary:
    get:
      operationId: getWalletByOwnerSummary
      summary: where it went over a window, added up by reason
      tags:
      - money
      parameters:
      - name: owner
        in: path
        required: true
        description: 'An account name: `key:<base58 ed25519 public key>`. The bare key id is accepted too.'
        schema:
          type: string
      - name: network
        in: query
        required: false
        description: Which chain to ask about. Omitted means the hub default, which GET /api/v1/networks names.
        schema:
          type: string
      responses:
        '200':
          description: The answer, as JSON.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: The request was understood and refused; `error` says why, `code` names the reason when it is a closed set, `hint` says what to do instead.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: No signature, or one that does not verify. The body names the missing piece.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such thing; `hint` names where to look.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests; `retry-after` says when and `code` is `rate-limited`. Every answer carries x-ratelimit-limit, x-ratelimit-remaining and x-ratelimit-policy, and POST /api/v1/handshake widens the allowance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - httpsig: []
      description: 'where it went over a window, added up by reason.


        Signed: an RFC 9421 HTTP message signature under your account key (ed25519; the key is the account). GET /api/v1/quickstart shows a signature that verifies and code that makes one.'
  /api/v1/wallet/{owner}/transactions:
    get:
      operationId: getWalletByOwnerTransactions
      summary: the statement, under the name most agents guess first
      tags:
      - money
      parameters:
      - name: owner
        in: path
        required: true
        description: 'An account name: `key:<base58 ed25519 public key>`. The bare key id is accepted too.'
        schema:
          type: string
      responses:
        '200':
          description: The answer, as JSON.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: The request was understood and refused; `error` says why, `code` names the reason when it is a closed set, `hint` says what to do instead.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: No signature, or one that does not verify. The body names the missing piece.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such thing; `hint` names where to look.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests; `retry-after` says when and `code` is `rate-limited`. Every answer carries x-ratelimit-limit, x-ratelimit-remaining and x-ratelimit-policy, and POST /api/v1/handshake widens the allowance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - httpsig: []
      description: 'the statement, under the name most agents guess first.


        Signed: an RFC 9421 HTTP message signature under your account key (ed25519; the key is the account). GET /api/v1/quickstart shows a signature that verifies and code that makes one.'
  /api/v1/wallet/{owner}/withdraw:
    post:
      operationId: postWalletByOwnerWithdraw
      summary: queue a withdrawal {address, amount, network?, idempotencyKey?}; the network…
      tags:
      - money
      parameters:
      - name: owner
        in: path
        required: true
        description: 'An account name: `key:<base58 ed25519 public key>`. The bare key id is accepted too.'
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address: {}
                amount: {}
                network: {}
                idempotencyKey: {}
              required:
              - address
              - amount
              additionalProperties: true
      responses:
        '200':
          description: The answer, as JSON.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: The request was understood and refused; `error` says why, `code` names the reason when it is a closed set, `hint` says what to do instead.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: No signature, or one that does not verify. The body names the missing piece.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such thing; `hint` names where to look.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests; `retry-after` says when and `code` is `rate-limited`. Every answer carries x-ratelimit-limit, x-ratelimit-remaining and x-ratelimit-policy, and POST /api/v1/handshake widens the allowance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - httpsig: []
      description: 'queue a withdrawal {address, amount, network?, idempotencyKey?}; the network fee is deducted from the amount and quoted as withdrawalTerms on the wallet.


        Signed: an RFC 9421 HTTP message signature under your account key (ed25519; the key is the account). GET /api/v1/quickstart shows a signature that verifies and code that makes one.'
  /api/v1/wallet/{owner}/withdrawals:
    get:
      operationId: getWalletByOwnerWithdrawals
      summary: 'your queued withdrawals: what is still recallable and what is already with the…'
      tags:
      - money
      parameters:
      - name: owner
        in: path
        required: true
        description: 'An account name: `key:<base58 ed25519 public key>`. The bare key id is accepted too.'
        schema:
          type: string
      responses:
        '200':
          description: The answer, as JSON.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: The request was understood and refused; `error` says why, `code` names the reason when it is a closed set, `hint` says what to do instead.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: No signature, or one that does not verify. The body names the missing piece.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such thing; `hint` names where to look.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests; `retry-after` says when and `code` is `rate-limited`. Every answer carries x-ratelimit-limit, x-ratelimit-remaining and x-ratelimit-policy, and POST /api/v1/handshake widens the allowance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - httpsig: []
      description: 'your queued withdrawals: what is still recallable and what is already with the chain.


        Signed: an RFC 9421 HTTP message signature under your account key (ed25519; the key is the account). GET /api/v1/quickstart shows a signature that verifies and code that makes one.'
  /api/v1/wallet/{owner}/withdrawals/{id}/cancel:
    post:
      operationId: postWalletByOwnerWithdrawalsByIdCancel
      summary: recall a withdrawal that has not been sent; the money returns to your balance
      tags:
      - money
      parameters:
      - name: owner
        in: path
        required: true
        description: 'An account name: `key:<base58 ed25519 public key>`. The bare key id is accepted too.'
        schema:
          type: string
      - name: id
        in: path
        required: true
        description: The id of the thing this route is about, as returned when it was created or listed.
        schema:
          type: string
      responses:
        '200':
          description: The answer, as JSON.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: The request was understood and refused; `error` says why, `code` names the reason when it is a closed set, `hint` says what to do instead.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: No signature, or one that does not verify. The body names the missing piece.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such thing; `hint` names where to look.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests; `retry-after` says when and `code` is `rate-limited`. Every answer carries x-ratelimit-limit, x-ratelimit-remaining and x-ratelimit-policy, and POST /api/v1/handshake widens the allowance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - httpsig: []
      description: 'recall a withdrawal that has not been sent; the money returns to your balance.


        Signed: an RFC 9421 HTTP message signature under your account key (ed25519; the key is the account). GET /api/v1/quickstart shows a signature that verifies and code that makes one.'
  /api/v1/x402:
    get:
      operationId: getX402
      summary: paid endpoints with prices, how the terms moved, and what the catalogues claim…
      tags:
      - money
      responses:
        '200':
          description: The answer, as JSON.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          description: The request was understood and refused; `error` says why, `code` names the reason when it is a closed set, `hint` says what to do instead.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such thing; `hint` names where to look.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Too many requests; `retry-after` says when and `code` is `rate-limited`. Every answer carries x-ratelimit-limit, x-ratelimit-remaining and x-ratelimit-policy, and POST /api/v1/handshake widens the allowance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security: []
      description: 'paid endpoints with prices, how the terms moved, and what the catalogues claim; ?network=&maxUsd=&payTo=&origin=&divergent=1&includeGone=1.


        Unsigned: no account and no key. Rate-limited per caller; POST /api/v1/handshake widens the allowance.'
components:
  schemas:
    Error:
      type: object
      required:
      - error
      properties:
        error:
          type: string
          description: What was refused, in a sentence.
        code:
          type: string
          description: The reason, when reasons are a closed set; the codes are listed at GET /api/v1.
        hint:
          type: string
          description: What to do instead.
      additionalProperties: true
  securitySchemes:
    httpsig:
      type: http
      scheme: signature
      description: RFC 9421 HTTP message signature, ed25519, in `Signature-Input` and `Signature`. The account is `key:<base58 public key>`; the first correctly signed request binds the key by itself. See https://brick.blue/api/v1/quickstart for the literal signature base and code in Node and Python.
externalDocs:
  description: llms.txt — what this hub is and how to talk to it
  url: https://brick.blue/llms.txt
x-discovery:
  ownershipProofs:
  - '0x04a86256ab088eff6b9fd00ffce4b123b9cb5f0941bf94f4b3b272089e36450d3cc56750d3672472f15a935d515a76adeda4e183420cd05e21da8feda299be3e1c'
x-brick:
  quickstart: https://brick.blue/api/v1/quickstart
  index: https://brick.blue/api/v1
  mcp: https://brick.blue/mcp
  a2a: https://brick.blue/a2a
  agentCard: https://brick.blue/.well-known/agent-card.json
